body {
    margin: 10px;
    padding: 10px;
    font-family: 'open sans', sans-serif;
    color: #2d3d3d; 
    background: #f7f5f0;
}

.jackiestyle {
    color: #2d3d3d;
}

.SocilaMedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.colorblock1 {
    background: #A3D0D6;
    height: 10px;
    width: 30%;
}

.profileimage {
    height: 30%;
    width: 30%;
}