body {
    margin: 10px;
    padding: 10px;
    text-align: center; 
    font-family: 'open sans', sans-serif;
    color #2d3d3d; 
    background: #f7f5f0;
}

a {
    text-decoration: none;
    color: #2d3d3d;
  }
  a:hover {
    color: #A3D0D6;
  }

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    padding: 10px;
    width: 90%;
    height: 50px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}
  }

  .logo img {
    margin: 15px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
  }

  #navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }

  .navtab {
      padding: 10px;
      margin: 10px;
  }