* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

body {
    text-align: center; 
    font-family: 'open sans', sans-serif;
    color: #2d3d3d; 
    background: #f7f5f0;
}

h1 {
  color: #2d3d3d;
}

h2 {
  color: #2d3d3d;
}

h3 {
  color: #2d3d3d;
}

a {
    text-decoration: none;
    color: #2d3d3d;
  }
  a:hover {
    color: #2d3d3d;
  }


nav {
  height: 75px;
  width: 100%;
  margin: 50px auto auto 50px;
  padding: 10px;
}

#navBar {
    display: flex;s
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 50px;
}

.logo {
    display: flex;
    justify-content: left;
    /*align-content: center;*/
}

  .logo img {
    /*margin: 15px;*/
    /*padding: 10px;*/
    cursor: pointer;
    align-content: center;
  }

  #navigation {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: flex-end;
  }

  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }

  .navtab {
      padding: 10px;
      margin: 10px;
  }


.workheading  {
  text-align: center;
  width: 300px;
  margin: 50px auto;
}

.workhead h2 {
  color: aquamarine;
}

/*.casestudies {
  display: flex;
  justify-content: center;
}*/


  .grid {
    margin: auto auto;
    display: grid;
    height: 100%;
    width: 80%;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "paws education"
      "dish getgoin"
      ;
  }

  .gridarea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    height: 250px;
  }

  .content {
    display: flex;
    align-content: center;
    justify-items: center;
    /*padding: 50px;*/
    margin: auto;
    opacity: 0;
    background-color: teal;
    height: 250px;
    width: 100%;
  }

  .content:hover {
    opacity: .9;
  }
  
  #paws {
    grid-area: paws;
    background-image: url("../images/paws-dogreading.jpg");
    color: white;
  }

  #education {
    grid-area: education;
    background-image: url("../images/doed-education.jpg");
    color: white;
  }

  #dish {
    grid-area: dish;
    background-image: url("../images/dishit_kitchen.jpg");
    color: white;
  }

  #getgoin {
    grid-area: getgoin;
    background-image: url("../images/images.travel.png");
    color: white;
  }
  
  .grid > div {
   background-color:lightgrey;
   border: 1px teal;
  }