body {
    margin: 50px;
    padding: 10px;
    text-align: center; 
    font-family: 'open sans', sans-serif;
    color: red; 
    background: #f7f5f0;
}

.mainnav {
    width: 100%;
    background:red;
    min-height: 50px;
    padding: 10px;
    position: fixed;
    text-align: right;
    color: red;
}

.nav {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    color: red;
}

.nav .name {
    display: none;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: white;
}