* {
    margin: 50px;
    padding: 0;
  }
  
  body {
      text-align: left; 
      font-family: 'open sans', sans-serif;
      color: #2d3d3d; 
      background: #f7f5f0;
  }
  /*
  h1 {
    color: #2d3d3d;
  }
  
  h2 {
    color: #2d3d3d;
  }
  
  h3 {
    color: #2d3d3d;
  }
  
  a {
      text-decoration: none;
      color: #2d3d3d;
    }
    a:hover {
      color: red;
    }