body {
    margin: 10px;
    padding: 10px;
    text-align: center; 
    font-family: 'open sans', sans-serif;
    color #2d3d3d; 
    background: #f7f5f0;
}

.bodystyle {
    font-family: 'Open Sans', sans-serif;
    max-width: 90%;
    padding: 5%;
    margin: 5%;
    color: rgb(45, 61, 61);
}

.jackiestyle {
    color: #2d3d3d;
}


.SocilaMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.colorblock1 {
    background: #A3D0D6;
    height: 10px;
    width: 30%;
}

.profileimage {
    height: 30%;
    width: 30%;
}

.name {

}